{% extends 'rh_base.html' %}

{% block css %}
<style type="text/css">
	#opcionesAgregar, #panelBuscar {
		display: none;
	}
</style>
{% endblock %}

{% block contenido %}
<h1>Empleados</h1>

<div id="opcionesLista" class="btn-group">
	<label  id="agregar" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Agregar empleado
	</label>
	<label  id="buscar" href="" class="btn btn-success btn-sm">
		<i class="fa fa-search"></i> Buscar
	</label>
	<label  id="eliminar" href="" class="btn btn-success btn-sm">
		<i class="fa fa-times"></i> Eliminar
	</label>
	<label  id="seleccionarTodo" href="" class="btn btn-success btn-sm">
		<i class="fa fa-check"></i> Seleccionar todo
	</label>
</div>

<div id="opcionesAgregar" class="btn-group">
	<label  id="agregar" class="btn btn-success btn-sm">
		<i class="fa fa-save"></i> Guardar
	</label>
	<label  id="cancelar" href="" class="btn btn-success btn-sm">
		<i class="fa fa-times"></i> Cancelar
	</label>
</div>

<div id="panelBuscar" class="subwell">
	<div class="row">
		<div class="col-lg-4">
			<input type="text" class="form-control"/>
		</div>
		<div class="col-lg-4">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Action <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<label class="btn btn-primary" style="margin-top:15px;">Buscar</label>
		</div>
	</div>
</div>

<table id="listaEmpleados" class="table table-striped" style="margin-top:15px;">
	<tr>
		<th></th>
		<th>Numero de documento</th>		
		<th>Nombre completo</th>
		<th>Dirección</th>
		<th>Telefono</th>
	</tr>
	{% if personas %}
		{% for persona in personas %}
		<tr>
			<td>{{ persona.documento }}</td>
			<td>{{ persona }}</td>
			<td>{{ persona.direccion }}</td>
			<td>{{ persona.telefono }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="4">
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			</td>
		</tr>
	{% else %}
		
	{% endif %}
</table>

<script type="text/javascript">
	$("#agregar").click(function() {
		$("#opcionesLista").css("display","none");
		$("#opcionesAgregar").css("display","inline-block");
	});

	$("#cancelar").click(function() {
		$("#lista").css("display","table");
		$("#opcionesLista").css("display","inline-block");
		$("#opcionesAgregar").css("display","none");
	});

	$("#buscar").click(function() {
		if($(this).hasClass("active")) {
			$(this).removeClass("active");			
			$("#panelBuscar").css("display","none");
		}else{
			$(this).addClass("active");
			$("#panelBuscar").css("display","block");
		}		
	});

	$("#seleccionarTodo").click(function() {
		if($(this).hasClass("active")) {
			$(this).removeClass("active");
			$('input[type=checkbox]').attr('checked', false);
		}else{
			$(this).addClass("active");
			$('input[type=checkbox]').attr('checked', true);
		}		
	});

	$("#listaBtn").click(function() {
		$(this).addClass("active");
		$("#agregar").removeClass("active");
		$("#lista").css("display","table");
	});
</script>
{% endblock %}